apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: log-analyzer-scaler
spec:
  scaleTargetRef:
    name: log-analyzer
    kind: SpinApp
    apiVersion: core.spinkube.dev/v1alpha1
  
  minReplicaCount: 1
  maxReplicaCount: 100
  cooldownPeriod: 10
  pollingInterval: 2
  
  triggers:
    - type: cpu
      metricType: Utilization
      metadata:
        value: "50"
